.about_container{margin-top: -143px;}
.left_container{background-color: #FFD318; font-family: 'Georama', sans-serif; position: relative; z-index: 99; height: 90vh; }
.right_contianer{background-color: #222020; font-family: 'Georama', sans-serif;}
.bg_circle{position: absolute; bottom: 1%; left: 1%; z-index: -1;}
.sub_container{padding: 30px;}
.first_container_logo{ margin-bottom: 20px; margin-top: 20px; width: 150px; }
.left_logo{ margin-bottom: 20px; margin-top: 20px; width: 250px;  }
.left_heading{margin-top: 16px; margin-bottom: 16px; font-weight: bolder; width: 400px; }
.cards_align_right{ margin-top: 20px; }
.cards_align_left{display: flex; justify-content: center;}
.about_cards{width: 200px; background-color: #D7AF09; padding: 10px;}


@media only screen and (max-width:320px) {
    .sub_container{padding: 20px;}
    .first_container_logo{ margin-bottom: 5px; margin-top: 5px; width: 100px; }
    .left_container{background-color: #FFD318; font-family: 'Georama', sans-serif; position: relative; z-index: 99; height: 70vh; }
    .left_logo{ margin-bottom: 1px; margin-top: 1px; width: 90px;  }
    .left_heading{margin-top: 15px; margin-bottom: 15px; font-weight: bolder; width: 200px; font-size: 20px; }
    .cards_align_right{ margin-top: 20px; display: flex; justify-content: center; width: 200px;}
}