.banner_left{  position: relative; height: 70vh;}
.banner_container{height: 100vh;}
.banner_heading{position: absolute;right: 5%;width: 830px;height: 400px;background-color: transparent;padding: 10px;top: 11%;}
.banner_heading>h1{font-size:85px; font-weight: 900; font-family:'Georama', sans-serif;;}
.Star_bg{ width: 130px; position: absolute; right: 1%; top: 10%;}
.banner_circle{position: absolute; right: 4%; width: 400px; top: 12%}
.banner_circle_outer{position: absolute;right: 2.1%;width: 440px;height: 440px;top: 8%;}
.man{width: 130px; }
.banner_man{position: absolute;bottom: -15%;right: 13%;}
/* .banner_menu{height: 80vh;} */
.Banner_links{margin-top: 200px;rotate: 90deg;}
.Banner_links > li{margin-right:50px;list-style: none;}
