.banner_left{  position: relative; height: 70vh;}
.banner_container{height: 100vh; background-color: #F5F5F5; }
.banner_heading{position: absolute;left:40%;width: 590px;height: 400px;background-color: transparent;padding: 10px;top: 21%;}
.Star_bg{ width: 130px; position: absolute; right: 1%; top: 10%;}
.banner_circle{position: absolute; right: 4%; width: 400px; top: 12%}
.banner_circle_outer{position: absolute;right: 2.1%;width: 440px;height: 440px;top: 8%;}
.man{width: 130px;}
.banner_man{position: absolute;bottom: -15%;right: 13%; z-index: 99;}
.banner_menu{height: 80vh;}
.Banner_links{margin-top: 200px;rotate: 90deg; display: flex; justify-content: flex-end; }
.Banner_links > li{ padding: 3%;  list-style: none; color: #575757;}
.Banner_links>li:hover{color: black; cursor: pointer;}
.sub_heading{width: 900px; font-size: 60px;}
.kite_image{position: absolute;top: 50%;  z-index: 0; width: 800px; right:20%;}

/* media quiers */

@media only screen and (max-width: 320px) {
    .banner_heading{position: absolute;background-color: transparent;padding: 10px; right: 5%; top: 24%; width: 30px;}
    .man{width: 70px;}
    .banner_circle_outer{position: absolute;right: 9%;width: 220px;height: 220px;top: 8%;}
    .banner_circle{position: absolute; right: 12%; width: 200px; top: 10%}
    .banner_man{position: absolute;bottom: 18%;right: 19%;}
    .banner_menu{height: 80vh;}
    .banner_container{height: 80vh;}
    .banner_heading{position: absolute;width: 230px;height: 400px;background-color: transparent;top: 25%; left: 1%;}
    .kite_image{position: absolute; bottom:30% ; z-index: -1;  width: 300px; right:0%;}
    .sub_heading{width: 300px; font-size: 27px; font-weight: 600;}
    .banner_menu{height: 80vh; display: none;}
}


/* animiation of scroll down */



.field { position: absolute;bottom: 10%;right: 40%;display: flex;align-items: center;justify-content: space-around;width: 300px;}
.mouse {font-size: 13px;width: 40px;height: 60px;border: 3px solid #333;border-radius: 60px;position: relative;}
.mouse::before {content: '';width: 12px;height: 12px;position: absolute;top: 10px;left: 50%;transform: translateX(-50%);background-color: #333;border-radius: 50%;opacity: 1;animation: wheel 2s infinite;-webkit-animation: wheel 2s infinite;}

@keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}


@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}

@-webkit-keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}
