.about_cards:hover{background-color: #ad8e10;  transition: all 0.4s;}
/* .card-img-top{width: 50px;}
.card-text{font-size: 12px;} */

/* @media only screen and (width:320px) {
    .about_cards{margin: 3px; width: 15%; }
    .card-img-top{width: 10px; font-size: 10px;}
    .card-text{font-size: 10px;}
    
} */