.footer_container{height: 80vh;  }
.button_container{margin-top: -15%;}
.btn_1{background: yellow; border-radius: 200px; padding: 20px; width: 200px; margin-left: -5%; margin-right: 2%;}
.btn_2{background: rgb(255, 255, 255); border-radius: 200px; padding: 20px; width: 200px; border: 1px solid black; }
.heading_image{position: absolute; top: 15%; right: 23%;}