.investor_container{position: relative;  background-color: #FED136; margin-top: 30%; height: 100vh;z-index: -1;}
.bg_image{ position: absolute; right: 12%; z-index: -1; }
.data_container{z-index: 99;}